:root {
    --color-background: #f7f1e3;
    --color-background-dark: #84817a;
    --color-primary: #ff793f;
    --color-secondary: #ff5252;
    --color-secondary-dark: #b33939;

    --purple: #474787;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

body {
    background: var(--color-background);
    font-family: 'Open Sans Condensed', sans-serif;
}

#main-page h1 {
    font-family: 'Architects Daughter', cursive;
    color: var(--color-primary);
    font-size: 3.6rem;
    line-height: 4rem;
    margin: 3.5rem 0;
    text-align: center;
}
