.select-custom {
  font-size: 1.5rem;
  width: 90%;
  margin: 0 auto;
}

.not-found-text {
  font-size: 1.5rem;
  color: var(--color-secondary-dark);
  text-align: center;
  margin-top: 10%;
}



@media (min-width: 768px) {
  .not-found-text {
    font-size: 2rem;
  }

  .buttons-row {
    display: flex;
  }
}
